body {
    background-color: gray;
    font-family: Arial;
}

.header, .body, .footer {
    margin: 5px;
    padding: 10px;
    border: solid 1px black;
}

button {
    padding: 10px;
    margin: 10px;
}

.innerpage {
    border: solid 2px black;
    width: 50%;
    margin: auto;
    background-color: beige;
}

.header {
    text-align: center;
}