body {
    background-color: violet;
}

.header, .body, .footer {
    margin: 5px;
    padding: 10px;
    border: solid 1px black;
}

div {
    font-family: Arial;
}

label {
    display: inline-block;
    width: 100px;
    margin: 5px;
    text-align: left;
}

span {
    display: inline-block;
    width: 200px;
    margin: 5px;
    text-align: left;
}

button {
    padding: 10px;
    margin: 10px;
}

.innerpage {
    border: solid 2px black;
    width: 50%;
    margin: auto;
    background-color: beige;
}

.header {
    text-align: center;
}

.registration-form {
    width: 90%;
}

.label-wrapper {
    width: 50%;
    display: inline-block;
    text-align: center;
}
.button-wrapper {
    display: inline-block;
    vertical-align: top;

}