<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <link href="css/styles.css" rel="stylesheet" />
        <title>Login</title>
    </head>
    <body>
        <div class="innerpage">
            <div class="header">
                <h1>Minesweeper</h1>
            </div>
            <div class="body">
                <h2>Login</h2>
                <div class="registration-form">
                    <a href="/register">Register here</a>
                </div>
            </div>
            <div class="footer">
                <h3>Footer</h3>
            </div>
        </div>
    </body>
</html>