<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <link href="css/styles.css" rel="stylesheet" />
        <title>Registration</title>
    </head>
    <body>
        <div class="innerpage">
            <div class="header">
                <h1>Minesweeper</h1>
            </div>
            <div class="body">
                <h2>Registration</h2>
                <div class="registration-form">
                    <form action="#" th:action="@{/register}" th:object="${user}" method="post">
                        <table>
                            <tr>
                                <td>Username</td>
                                <td><input type="text" th:field="*{username}" /></td>
                                <td th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td><input type="text" th:field="*{email}" /></td>
                                <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</td>
                            </tr>
                            <tr>
                                <td>Password</td>
                                <td><input type="password" th:field="*{password}" /></td>
                                <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</td>
                            </tr>
                            <tr>
                                <td><button type="submit">Register</button></td>
                            </tr>
                            <tr>
                                <td>Already have an account?</td>
                                <td><a href="/">Log in</a></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
            <div class="footer">
                <h3>Footer</h3>
            </div>
        </div>
    </body>
</html>